In [27]:
def one_hot_encoding(X):
    # create dataframe and add header
    X_one_hot=pd.DataFrame()
    categories_list=X.columns.tolist()
    for cat in range(len(X.columns)):
        # select rows with given category in column cat
        # choose only coloumns with categorial data
        # print(categories_list[cat])
        if X.dtypes[cat]=='object':
            categories=X.iloc[:,cat].unique()
            # print(categories)
            if categories.size==2:
                X_one_hot[categories_list[cat]]=np.where(X.iloc[:,cat]==categories_list[0],1,0)
            else:
                for category in categories:
                    # create a new column for each category
                    X_one_hot[categories_list[cat]+'_'+str(category)]=np.where(X.iloc[:,cat]==category,1,0)
        else:
            X_one_hot[categories_list[cat]]=X.iloc[:,cat]
    X_one_hot['y']=X.iloc[:,-1]
    return X_one_hot

In [29]:
import pandas as pd
import preprocess_dt as ppd
import  numpy as np
data=ppd.read_data("./bank_dataset/bank_test.csv")
# where age = 34
# print(data.head())
xx=one_hot_encoding(data).head()
# print(age)
print(xx.columns)

Index(['age', 'job_blue-collar', 'job_technician', 'job_self-employed',
       'job_admin.', 'job_management', 'job_student', 'job_services',
       'job_entrepreneur', 'job_housemaid', 'job_unknown', 'job_unemployed',
       'job_retired', 'marital_married', 'marital_single', 'marital_divorced',
       'education_secondary', 'education_primary', 'education_tertiary',
       'education_unknown', 'default', 'balance', 'housing', 'loan',
       'contact_cellular', 'contact_unknown', 'contact_telephone', 'day',
       'month_apr', 'month_jun', 'month_jul', 'month_feb', 'month_aug',
       'month_may', 'month_jan', 'month_nov', 'month_sep', 'month_dec',
       'month_oct', 'month_mar', 'duration', 'campaign', 'pdays', 'previous',
       'poutcome_unknown', 'poutcome_other', 'poutcome_success',
       'poutcome_failure', 'y'],
      dtype='object')

In [36]:
def one_hot_encoding(X,header):
    for cat in header:
        # select categorical columns
        if X[cat].dtype == 'object':
            # select rows with given category in column cat
            categories=X[cat].unique()
            print(categories)
            for category in categories:
                # create a new column for each category
                X[cat+'_'+category]=np.where(X[cat]==category,1,0)
            # drop the original column
            X.drop(cat,axis=1,inplace=True)
    return X
def read_data(filename='./dataset/train.csv'):
    dataset = pd.read_csv(filename)
    # header
    header = dataset.columns.values
    # print(dataset.head())
    X=dataset.iloc[:,:-1]
    Y=dataset.iloc[:,-1]
    return X,Y,header

In [38]:
import pandas as pd
import numpy as np
def read_data(filename='./dataset/train.csv'):
    dataset = pd.read_csv(filename,sep=',',header=None)
    # print(dataset.head())
    X=dataset.iloc[:,:-1]
    Y=dataset.iloc[:,-1]
    return X,Y

In [2]:
import preprocess_nn as pn
import numpy as np
import pandas as pd
X=pn.read_data("./poker_dataset/poker-hand-testing.data")
print(X.head())
X=one_hot_encoding(X,z[:-1])

   0       1       2       3       4       5       6       7       8       \
0       1       3       1       1       3       1       2       3       4
1       1      12       9       4      10       3       6       2       4
2       1       3       4       3       2       4       4       4       3
3      13       2       6      13       7       5      11       9      13
4       2       3       1       2       1       3       2       3       1

   9       ...  999990  999991  999992  999993  999994  999995  999996  \
0       1  ...       2       1       1       1       3       3       3
1       9  ...      12       4       9      12       7       1       3
2       3  ...       4       4       3       3       1       1       4
3       8  ...       3       8       6       9       6      12       5
4       4  ...       1       4       2       3       4       2       2

   999997  999998  999999
0       1       3       2
1      11      11       5
2       4       1       2
3       7       8       9
4       3       1       4

[5 rows x 1000000 columns]

NameError: name 'one_hot_encoding' is not defined

In [34]:
print(X.head())

   age  balance  day  duration  campaign  pdays  previous  job_blue-collar  \
0   34      470   20       217         1     -1         0                1
1   44      406    4       222         1     -1         0                1
2   52      930    2        94        16     -1         0                0
3   32     5511   16       408         2    231        16                1
4   45      845   20        76         4     -1         0                0

   job_technician  job_self-employed  ...  month_jan  month_nov  month_sep  \
0               0                  0  ...          0          0          0
1               0                  0  ...          0          0          0
2               1                  0  ...          0          0          0
3               0                  0  ...          0          0          0
4               0                  1  ...          0          0          0

   month_dec  month_oct  month_mar  poutcome_unknown  poutcome_other  \
0          0          0          0                 1               0
1          0          0          0                 1               0
2          0          0          0                 1               0
3          0          0          0                 0               1
4          0          0          0                 1               0

   poutcome_success  poutcome_failure
0                 0                 0
1                 0                 0
2                 0                 0
3                 0                 0
4                 0                 0

[5 rows x 51 columns]

In [5]:
import pandas as pd
train=pd.read_csv("./bank_dataset/bank_test.csv",sep=';')
print(train.head())

   age            job  marital  education default  balance housing loan  \
0   34    blue-collar  married  secondary      no      470     yes  yes
1   44    blue-collar  married  secondary      no      406     yes   no
2   52     technician  married  secondary      no      930     yes   no
3   32    blue-collar  married    primary      no     5511      no   no
4   45  self-employed  married  secondary      no      845      no   no

    contact  day month  duration  campaign  pdays  previous poutcome   y
0  cellular   20   apr       217         1     -1         0  unknown  no
1   unknown    4   jun       222         1     -1         0  unknown  no
2   unknown    2   jun        94        16     -1         0  unknown  no
3  cellular   16   apr       408         2    231        16    other  no
4   unknown   20   jun        76         4     -1         0  unknown  no

In [49]:
import numpy as np
train=pd.read_csv("./bank_dataset/bank_test.csv",sep=';')

# print(np.median(train['duration']))
# print(train.iloc[:,-1].value_counts().idxmax())
# print(train.iloc[:,-1].value_counts())
# print(train.columns)
# print(np.unique(train['job']))
test=train.loc[train['job']=='services']
print(test.index)
print(train.loc[0,'y'])
train.at[test.index,'age']=1

print(train.loc[test.index]['age'])
train.loc[test.index]['age']=1

print(train.loc[train['job']=='services'])

Int64Index([  11,   21,   22,   40,   52,   53,   62,   68,   72,   74,
            ...
            4420, 4431, 4434, 4435, 4469, 4470, 4472, 4490, 4498, 4513],
           dtype='int64', length=430)
no
11      1
21      1
22      1
40      1
52      1
       ..
4470    1
4472    1
4490    1
4498    1
4513    1
Name: age, Length: 430, dtype: int64
      age       job   marital  education default  balance housing loan  \
11      1  services   married  secondary      no     1315      no   no
21      1  services   married  secondary      no       47      no   no
22      1  services   married  secondary      no      497     yes   no
40      1  services    single  secondary      no      168      no   no
52      1  services   married  secondary      no      244     yes   no
...   ...       ...       ...        ...     ...      ...     ...  ...
4470    1  services   married  secondary      no      367     yes  yes
4472    1  services    single  secondary      no     1903     yes   no
4490    1  services  divorced  secondary      no      476      no   no
4498    1  services  divorced  secondary      no      392     yes  yes
4513    1  services    single  secondary      no     1757     yes   no

        contact  day month  duration  campaign  pdays  previous poutcome    y
11     cellular   14   aug       260         2     -1         0  unknown   no
21      unknown    5   may       234         2     -1         0  unknown   no
22    telephone   15   jul       265         5     -1         0  unknown   no
40     cellular   12   jan       387         1    194         1    other  yes
52     cellular    8   may       171         1     -1         0  unknown   no
...         ...  ...   ...       ...       ...    ...       ...      ...  ...
4470   cellular   29   jan       155         1    261         2  failure   no
4472    unknown   29   may       107         2     -1         0  unknown   no
4490   cellular   11   aug        67         7     -1         0  unknown   no
4498    unknown    7   may       254         1     -1         0  unknown   no
4513   cellular   20   apr      1010         3    326         1    other   no

[430 rows x 17 columns]